/* import font */
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

/* varibles.css */
:root {
    --heder-hight: 5rem;
    /* font */
    --font-family: "Scheherazade New", serif;
    --font-weight: 700;
    --font-style: normal;
    --normal-siz:1rem;
    --small-font-size:0.875rem;
    --smaller-font-size:0.75rem;

    /* colors */
    --firest-color:#407380;
    --second-color:#F8F0E3;
    --third-color:#3D9D79;

    /*z-index*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
    /* responsiv */
    @media screen and (min-width: 1024px) {
    :root{
        --bigest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-siz:1rem;
        --small-font-size:0.875rem;
        --smaller-font-size:0.75rem;
       }
        
    }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-family);
    font-size: var(--normal-siz);
    font-weight: var(--font-weight);
    background-color: white;
}
ul{
    list-style: none;
}
.container{
    max-width: 1920px;
    margin: 1.5 1.5;

}
.grid{
    display: grid;
}
.section{
    padding: 4.5rem 0 2rem;
}
.section-title{
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}
.section-title span{
    color: var(--third-color);
    
}
.section--subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--third-color);
}
.main{
    overflow: hidden;

}
/* header-navbar */
header {
    position: fixed;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 50px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in 0s;
   padding: 10px  ;
   z-index: var(--z-fixed);
}

.nav_container {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    padding: 1rem ;
    height: var(--heder-hight);
    border-radius: 50px;
    
}

.nav_logo img{
   height:3rem ;
    
}
.nav_item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    flex-wrap: nowrap;
    
}

.nav_list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.nav_link {
    text-decoration: none;
    color: var(--firest-color);
    font-size: 1rem;
    padding: 7px ;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap; 
    
}

.nav_item i {
    font-size: 1.25rem;
    margin-right: 5px;
    color: var(--third-color);
 
}

.nav_item:hover {
    background-color: var(--firest-color);
    .nav_link {
        color: var(--second-color);
    }
  
}

.nav_button {
    background-color: var(--firest-color);
    color: white;
    padding: 7px 30px;
    margin: 0 15px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    white-space: nowrap; 
}
.nav_button:hover {
    background-color:#294850 ;
    
}
.nav_menu {
    display: flex;
    align-items: center;
}

   /*home*/
   